.header {
  width: 100%;
  max-width: calc(100% - 60px); /* subtract pixels to compensate for adding padding */

  padding-left: 30px;
  padding-right: 30px;

  background-color: white;

  /* centered layout and spaced-out alignment of items on navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
}

.overlay {
  /* to display shadow below bar */
  box-shadow: 2px 4px 8px 5px #e7dbd1;
  z-index: 10;
}


#title {
  color: salmon;
}

#title:hover {
  cursor: pointer;
  transform: scale(.9);
  transition: transform .1s ease;
}


/* clickable page link */
.tab-title {
  margin-left: 10px;
  transform: scale(1.1);
}

.tab-title:hover, .tab-title:focus, .tab-title:active {
  cursor: pointer;

  transform: scale(1);
  transition: transform .1s;
}

/* will be shown as a diabled page link */
.tab-current {
  color: #FFBCA2 !important; /* overrides styling from other selector */
  padding: 10px;
  transform: scale(1);
}

.left-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.left-header > p {
  color: salmon;
}

#popover-user-btn {
  z-index: 15;
  margin-right: -30px;
  margin-top: 10px;

  justify-content: center;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px #e7dbd1;
}

.logout-btn {
  color: darksalmon;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 1.2em;
  border-radius: 10px;
  transition: font-size .1s ease;
}

.logout-btn:hover {
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 1em;
}
