.header {
  width: 100%;
  max-width: calc(100% - 60px); /* subtract pixels to compensate for adding padding */

  padding-left: 30px;
  padding-right: 30px;

  background-color: white;

  /* centered layout and spaced-out alignment of items on navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  /* to display shadow below bar */
  position: fixed;
  box-shadow: 2px 4px 8px 5px #e7dbd1;
  z-index: 10;
}


#title {
  color: salmon;
}

#title:hover {
  cursor: pointer;
  background-image: radial-gradient(ellipse, #ffe8db 0%, white 80%);
}


/* clickable page link */
.tab-title {
  margin-left: 10px;
}

.tab-title:hover, .tab-title:focus, .tab-title:active {
  cursor: pointer;

  transform: scale(1.2);
  transition: transform .5s;
}

/* will be shown as a diabled page link */
.tab-current {
  color: #FFBCA2 !important; /* overrides styling from other selector */
  padding: 10px;
}

.left-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.left-header > p {
  color: salmon;
}
