/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

body {
  padding: 0;
  margin: 0;

  position: relative;
}

h1 {
  color: #331F00;
}

input, button {
  padding: 12px;
  margin: 5px;
  border-radius: 20px;
  font-size: 1em;
}

button {
  background-color: coral;
  color: white;
  border: none;

  transition: transform .2s ease;
}

button:hover {
  transform: translate(0px, -8px);
  box-shadow: 5px 6px 8px 2px lightgrey;
  cursor: pointer;
}

input {
  color: darksalmon;
  border: 1px solid coral;
}

input:hover, input:focus {
  /* orange border */
  outline: 1px solid coral;
}

#combobox-controlled:focus { /* library component */
  outline: 1px solid coral;
  border:1px solid coral;
  box-shadow: 0 0 10px coral;
}
