body {
  padding: 0;
  margin: 0;

  position: relative;
}

h1, p {
  color: #331F00;
}

input, .button {
  padding: 12px;
  margin: 5px;
  border-radius: 20px;
  font-size: 1em;
}

.coral-text {
  color: coral;
}

.button {
  background-color: salmon;
  color: white;
  border: none;

  transition: transform .2s ease;
}

.button:hover {
  transform: translate(0px, -8px);
  box-shadow: 5px 4px 10px 2px lightgray;
  cursor: pointer;
}

.input {
  color: darksalmon;
  border: 1px solid coral;
  background-color: transparent;
}

.input:hover, .input:focus {
  /* orange border */
  outline: 1px solid salmon;
  box-shadow: 0px 0px 20px 10px peachpuff;
}

#combobox-controlled {
  border:1px solid salmon;
}

#combobox-controlled:focus { /* library component */
  outline: 1px solid salmon;
  border:1px solid salmon;
  box-shadow: 0 0 10px salmon;
}

/* tagged combobox */
[role="combobox"][aria-owns="tags"] .XiG.zI7.iyn.Hsu > div:first-of-type

/* alternate selector for tagged combobox */
/* ,[role="combobox"][aria-owns="tags"] div:nth-child(2):first-of-type > div:first-child */
{
  outline: 1px solid salmon;
  border:1px solid salmon;
  box-shadow: 0 0 10px salmon;
}

/* icon button */
.icon-button-container button > div > div

/* icon button that was recently selected */
, .icon-button-container button:focus > div > div
{
  background-color: salmon;
}
.icon-button-container:hover button > div > div {
  background-color: black;
}

.icon-button-container button > div > div {
  box-shadow: 0 0 0 coral; /* overrides gestalt's blue focus border */
}

/* icon symbol inside icon button */
.icon-button-container button > div > div > svg {
  color: white;
}
.icon-button-container:hover button > div > div > svg {
  color: salmon;
}
