#content {
  min-height: 100vh;

  background-image: linear-gradient(to bottom right, whitesmoke, peachpuff);
}

.content-head {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.searchbar-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
}

/* Ingredient List: the new item added to the beginning of the list will animate and pop into view */
.list .newItem:first-child {
  /* states before animation */
  opacity: 0;
  transform: scale(0);

  /* animate */
  animation: grow 1s ease-in-out forwards,
            appear 1s ease-in-out forwards;
  -webkit-animation: grow 1s ease-in-out forwards
            appear 1s ease-in-out forwards;
}
@-webkit-keyframes grow {
  to {
    transform: scale(1);
  }
}
@keyframes grow {
  to {
    transform: scale(1);
  }
}

/* Ingredient List: rest of ingredient cards will gradually come into view
  selector styles ingredient cards in the list that isn't the recently added card */
.list .section.ingredient-card:not(.newItem:first-child),

.list .recipe-card /* also applies to recipe cards */
{ /* will animate cards when they first load up */
  opacity: 0;

  animation: appear 1s ease-in-out forwards;
  -webkit-animation: appear 1s ease-in-out forwards;
}
@-webkit-keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}

/* card that shows one entry of data */
.section {
  display: flex;
  align-items:center;
  flex-direction: column;

  width: 300px;
  margin: 30px;
  padding: 30px;
  background-color: whitesmoke;

  box-shadow: 4px 6px 20px 5px #e7dbd1;
  border-radius: 30px;
}

.section:hover {
  box-shadow: 4px 10px 30px 4px #d6c1af;
  transition: box-shadow .2s ease;
}
