#content {
  min-height: 100vh;

  background-image: linear-gradient(to bottom right, whitesmoke, peachpuff);
}

.content-head {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.searchbar-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
}

/* the new item added to the beginning of the list will animate */
.list .ingredient-card:first-child {
  opacity: 0;
  animation: grow 1s ease-in-out forwards;
  -webkit-animation: grow 1s ease-in-out forwards;
}
@-webkit-keyframes grow {
  to {
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes grow {
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.section {
  display: flex;
  align-items:center;
  flex-direction: column;

  width: 300px;
  margin: 30px;
  padding: 30px;
  background-color: whitesmoke;

  box-shadow: 4px 6px 20px 5px #e7dbd1;
  border-radius: 30px;
}

.section:hover {
  box-shadow: 4px 10px 30px 4px #d6c1af;
  transition: box-shadow .2s ease;
}
